name: Deploy Notifications codebase
on:
  push:
    branches: main
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy notifications
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only $FLY_DEPLOY_TOKEN
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_DEPLOY_TOKEN }}
